@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 53 56% 92%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 45 100% 51%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 53 20% 85%;
    --input: 53 20% 85%;
    --ring: 45 100% 51%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 45 100% 51%;
    --primary-foreground: 45 100% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .prose img {
    @apply rounded-lg;
  }

  .prose {
      --tw-prose-body: theme(colors.foreground);
      --tw-prose-headings: theme(colors.primary.DEFAULT);
      --tw-prose-lead: theme(colors.foreground);
      --tw-prose-links: theme(colors.primary.DEFAULT);
      --tw-prose-bold: theme(colors.foreground);
      --tw-prose-counters: theme(colors.muted.foreground);
      --tw-prose-bullets: theme(colors.primary.DEFAULT);
      --tw-prose-hr: theme(colors.border);
      --tw-prose-quotes: theme(colors.foreground);
      --tw-prose-quote-borders: theme(colors.primary.DEFAULT);
      --tw-prose-captions: theme(colors.muted.foreground);
      --tw-prose-code: theme(colors.foreground);
      --tw-prose-pre-code: theme(colors.foreground);
      --tw-prose-pre-bg: theme(colors.muted.DEFAULT);
      --tw-prose-th-borders: theme(colors.border);
      --tw-prose-td-borders: theme(colors.border);
  }
  .dark .prose {
      --tw-prose-body: theme(colors.foreground);
      --tw-prose-headings: theme(colors.primary.DEFAULT);
      --tw-prose-lead: theme(colors.foreground);
      --tw-prose-links: theme(colors.primary.DEFAULT);
      --tw-prose-bold: theme(colors.foreground);
      --tw-prose-counters: theme(colors.muted.foreground);
      --tw-prose-bullets: theme(colors.primary.DEFAULT);
      --tw-prose-hr: theme(colors.border);
      --tw-prose-quotes: theme(colors.foreground);
      --tw-prose-quote-borders: theme(colors.primary.DEFAULT);
      --tw-prose-captions: theme(colors.muted.foreground);
      --tw-prose-code: theme(colors.foreground);
      --tw-prose-pre-code: theme(colors.card.foreground);
      --tw-prose-pre-bg: theme(colors.card.DEFAULT);
      --tw-prose-th-borders: theme(colors.border);
      --tw-prose-td-borders: theme(colors.border);
  }

  .tiptap {
    @apply rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
    min-height: 150px;
  }

  .tiptap > .ProseMirror:focus {
    outline: none;
  }

  .tiptap p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: hsl(var(--muted-foreground));
    pointer-events: none;
    height: 0;
  }
}